<header class="header">
    <a href="{{ siteUrl }}" class="header__logo">
        <span>Jeroen Bruggenwirth</span>
        <span>Photographer</span>
    </a>

    {% set pages = craft.entries.section('pages') %}
    {% set projects = craft.entries.section('projects') %}

    {% set navigation = [projects, pages] %}

    <nav class="navigation__container">
        {% for navi in navigation %}
            <ul class="navigation navigation--left">
                {% nav item in navi %}
                <li class="navigation__item{% if item.hasDescendants() %} navigation--has-children {% endif %}{{ item.id == entry.id ? ' is-active ' }} {{ item.isAncestorOf(entry) ? ' is-active' }}" >
                    <a href="{{ item.url }}">{{ item.title|raw }}</a>
                    {% ifchildren %}
                        <ul class="navigation__submenu">
                            {% children %}
                        </ul>
                    {% endifchildren %}
                </li>
                {% endnav %}
            </ul>
        {% endfor %}
    </ul>
</header>
